# services/booking-service/requirements.txt
fastapi
uvicorn[standard]
pydantic>=2.0.0
pydantic-settings
sqlalchemy>=2.0.0
asyncpg
python-dotenv
psycopg2-binary
python-jose[cryptography]
pytest
pytest-asyncio
httpx
aiosqlite
pytz